In [94]:
# https://groups.google.com/g/datameet/c/YFRuMRO1shc

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [95]:
# donload census data from:
# https://www.censusindia.gov.in/2011census/Listofvillagesandtowns.aspx

In [96]:
# DTName column is same as district column DID,C,254 in the census data.
# SDTName column is same as taluka column  TID,C,254 in the census data.

In [97]:
# this is mapping for shape file found here...
# https://sedac.ciesin.columbia.edu/data/collection/india/maps/services

In [98]:
import pandas as pd
import numpy as np

In [99]:
census = pd.read_csv("census.CSV")
census = census.apply(lambda s: s.str.replace("'", ""))
census = census[census["DTName"] != "MAHARASHTRA"]
ndf = census[census["SDTCode"] == "00000"]
ndf["mapindex"] = np.arange(1, len(ndf) + 1)
ndf[["DTCode", "Name", "mapindex"]]

/root/miniforge3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

      DTCode             Name  mapindex
1        497        Nandurbar         1
956      498            Dhule         2
1644     499          Jalgaon         3
3178     500          Buldana         4
4636     501            Akola         5
5636     502           Washim         6
6432     503         Amravati         7
8445     504           Wardha         8
9837     505           Nagpur         9
11740    506         Bhandara        10
12621    507          Gondiya        11
13580    508       Gadchiroli        12
15272    509       Chandrapur        13
17096    510         Yavatmal        14
19259    511           Nanded        15
20883    512          Hingoli        16
21600    513         Parbhani        17
22453    514            Jalna        18
23429    515       Aurangabad        19
24803    516           Nashik        20
26757    517            Thane        21
28533    518  Mumbai Suburban        22
28534    519           Mumbai        23
28535    520          Raigarh        24
30491    521             Pune        25
32402    522       Ahmadnagar        26
34009    523              Bid        27
35390    524            Latur        28
36351    525        Osmanabad        29
37093    526          Solapur        30
38262    527           Satara        31
40032    528        Ratnagiri        32
41590    529       Sindhudurg        33
42351    530         Kolhapur        34
43593    531           Sangli        35

In [166]:
taluka = census[census["TVCode"] == "000000"]
taluka = taluka[taluka["SDTCode"] != "00000"]

taluka["sno"] = (
    taluka.groupby(
        [
            "DTName",
        ]
    ).cumcount()
    + 1
)

In [173]:
taluka.tail(11)

,STCode,DTCode,DTName,SDTCode,SDTName,TVCode,Name,sno
43435,27,530,Kolhapur,04294,Chandgad,000000,Chandgad,12
43594,27,531,Sangli,04295,Shirala,000000,Shirala,1
43692,27,531,Sangli,04296,Walwa,000000,Walwa,2
43789,27,531,Sangli,04297,Palus,000000,Palus,3
43825,27,531,Sangli,04298,Kadegaon,000000,Kadegaon,4
43882,27,531,Sangli,04299,Khanapur (Vita),000000,Khanapur,5
43949,27,531,Sangli,04300,Atpadi,000000,Atpadi,6
44010,27,531,Sangli,04301,Tasgaon,000000,Tasgaon,7
44079,27,531,Sangli,04302,Miraj,000000,Miraj,8
44147,27,531,Sangli,04303,Kavathemahankal,000000,Kavathemahankal,9
44208,27,531,Sangli,04304,Jat,000000,Jat,10

In [179]:
np.sort(
    earthdata[(earthdata["TID,C,254"] == 12) & (earthdata["DID,C,254"] == 34)][
        "NAME,C,42"
    ].values
)

array(['ADKUR', 'ADURE', 'ALABADEVI', 'AMBEWADI', 'AMROLI', 'ASAGAON',
       'ASAGOLI', 'BAGILGE', 'BASARGE', 'BELEBHAT', 'BHOGOLI', 'BIJUR',
       'BONJURDI', 'BUJAVADE', 'BUKKIHAL', 'CHANDGAD', 'CHINCHANE',
       'DATE', 'DEVARWADI', 'DHAMAPUR', 'DHEKOLI', 'DHEKOLIWADI',
       'DHOLAGARWADI', 'DHUMADEWADI', 'DINDALKOP', 'DUKKARWADI',
       'DUNDAGE', 'GANUCHIWADI', 'GAVASE', 'GHULEWADI', 'GUDAWALE KHALSA',
       'GUDEWADI', 'HAJAGOLI', 'HALKARNI', 'HALLARWADI', 'HAMBIRE',
       'HERE', 'HINDAGAON', 'HOSUR', 'HUNDALEWADI', 'IBRAHIMPUR',
       'ISAPUR', 'JAKKANHATTI', 'JAMBRE', 'JANGAMHATTI', 'JATEWADI',
       'JELUGADE', 'JOGEWADI', 'KADALGE BK.', 'KADALGE KH.', 'KAGANI',
       'KAJIRNE', 'KALASGADE', 'KALIVADE', 'KALKUNDRI', 'KAMEWADI',
       'KANADI', 'KANUR BK.', 'KANUR KH.', 'KARANJGAON', 'KAREKUNDI',
       'KAULAGE', 'KENCHEWADI', 'KERVADE', 'KHAMDALE', 'KINI', 'KITVADE',
       'KITWAD', 'KODALI', 'KOKARE', 'KOLIK', 'KOLINDRE INAM',
       'KOLINDRE KHALSA', 'KONEWADI', 'KORAJ', 'KOWAD', 'KUDANUR',
       'KURNI', 'KURTANWADI', 'LAKIKATTE', 'LAKUDWADI', 'MADAWALE',
       'MAHALEWADI', 'MAHALUNGE INAM', 'MAHIPALGAD', 'MAJARE KARVE',
       'MALAGEWADI', 'MALATWADI', 'MALGAD', 'MANDEDURG', 'MANGAON',
       'MAUJE KARVE', 'MHALUNGE KHALSA', 'MIRWEL', 'MOREWADI',
       'MOTANWADI', 'MUGALI', 'MURKUTEWADI', 'NAGANWADI', 'NAGARDALE',
       'NAGAVE', 'NANDAVADE', 'NAREWADI', 'NHAVELI', 'NITUR', 'PARLE',
       'PATNE', 'PILANI', 'POREWADI', 'POWACHIWADI', 'PUNDRA',
       'RAIDEWADI', 'RAJGOLI BK.', 'RAJGOLI KH.', 'SADEGUDWALE', 'SAROLI',
       'SATAWANE', 'SAVARDE INAM', 'SAVARDE KHALSA', 'SHEVALE',
       'SHINOLI BK.', 'SHINOLI KH.', 'SHIPUR', 'SHIRGAON', 'SHIROLI',
       'SHIVANAGE', 'SONARWADI', 'SULAYE', 'SUNDI', 'SUPE', 'SURUTE',
       'TADASHINHAL', 'TALGULI', 'TAMBULWADI', 'TAVAREWADI', 'TEURWADI',
       'TUDIYE', 'TURKEWADI', 'UMAGAON', 'UTSALI', 'VARGAON', 'VINZANE',
       'WAGHOTRE', 'WALKOLI', 'YARATANHATTI'], dtype=object)

In [178]:
np.sort(census[census["SDTName"] == "Chandgad"]["Name"].values)

array(['Adkur', 'Adure', 'Alabadevi', 'Ambewadi', 'Amroli', 'Asagaon',
       'Asagoli', 'Bagilge', 'Basarge', 'Belebhat', 'Bhogoli', 'Bijur',
       'Bonjurdi', 'Bujavade', 'Bukkihal', 'Chandgad', 'Chandgad',
       'Channehatti ', 'Chinchane', 'Churani Chawl  ', 'Date',
       'Devarwadi', 'Dhamapur', 'Dhekoli', 'Dhekoliwadi', 'Dholagarwadi',
       'Dhumadewadi', 'Dindalkop', 'Dukkarwadi', 'Dundage', 'Fatakwadi ',
       'Gandharvagad ', 'Ganuchiwadi', 'Gaulwadi ', 'Gavase', 'Ghulewadi',
       'Gudawale Khalsa', 'Gudewadi', 'Gulamb (N.V.)', 'Hajagoli',
       'Halkarni', 'Hallarwadi', 'Hambire', 'Here', 'Hindagaon', 'Hosur',
       'Humbarwadi ', 'Hundalewadi', 'Ibrahimpur', 'Inam Kolindre ',
       'Isapur', 'Jakkanhatti', 'Jambre', 'Jangamhatti', 'Jatewadi',
       'Jelugade', 'Jogewadi', 'Kadalge Bk.', 'Kadalge Kh.', 'Kagani',
       'Kajirne', 'Kalasgade', 'Kalivade', 'Kalkundri', 'Kamewadi',
       'Kanadi', 'Kanur Bk.', 'Kanur Kh.', 'Karanjgaon', 'Karekundi',
       'Kaulage', 'Kenchewadi', 'Kervade', 'Khalsa Mhalunge ', 'Khamdale',
       'Kini', 'Kitvade', 'Kitwad', 'Kodali', 'Kokare', 'Kolik',
       'Kolindre Khalsa', 'Konewadi', 'Koraj', 'Kowad', 'Kudanur',
       'Kurni', 'Kurtanwadi', 'Lakikatte', 'Lakudwadi', 'Madawale',
       'Mahalewadi', 'Mahalunge Inam', 'Mahipalgad', 'Majare Karve',
       'Majareshirgaon', 'Malagewadi', 'Malatwadi', 'Malaviwadi ',
       'Malgad', 'Mandedurg', 'Mangaon', 'Mangaonwadi ', 'Mauje Karve',
       'Mirwel', 'Morewadi', 'Motanwadi', 'Mugali', 'Murkutewadi',
       'Naganwadi', 'Nagardale', 'Nagave', 'Nandavade', 'Narewadi',
       'Nhaveli', 'Nitur', 'Parle', 'Patne', 'Pilani', 'Porewadi',
       'Powachiwadi', 'Pundra', 'Raidewadi', 'Rajgoli Bk.', 'Rajgoli Kh.',
       'Sadegudwale', 'Saroli', 'Satawane', 'Sattewadi  ', 'Savarde Inam',
       'Savarde Khalsa', 'Shevale', 'Shinoli Bk.', 'Shinoli Kh.',
       'Shipur', 'Shirgaon', 'Shiroli', 'Shivanage', 'Sonarwadi',
       'Sulaye', 'Sundi', 'Supe', 'Surute', 'Tadashinhal', 'Talguli',
       'Tambulwadi', 'Tavarewadi', 'Teurwadi', 'Tudiye', 'Turkewadi',
       'Umagaon', 'Utsali', 'Vaitakwadi ', 'Vargaon', 'Vinzane',
       'Waghotre', 'Walkoli', 'Yaratanhatti'], dtype=object)

In [174]:
np.sort(
    earthdata[(earthdata["TID,C,254"] == 2) & (earthdata["DID,C,254"] == 35)][
        "NAME,C,42"
    ].values
)

array(['AHIRWADI', 'AITAVADE BK', 'AITAVADE KH', 'ASHTA   (MA)', 'BAGANI',
       'BAHADURWADI', 'BAHE', 'BANEWADI', 'BAVCHI', 'BERADMACHI',
       'BHADKIMBE', 'BHARATWADI(N.V.)', 'BHATWADI', 'BHAVANINAGAR(N.V.)',
       'BICHUD', 'BORGAON', 'CHIKURDE', 'DEVARDE', 'DHABAKWADI (N.V.)',
       'DHAGEWADI', 'DHAVALI', 'DHOTREWADI', 'DONGARWADI', 'DUDHARI',
       'FARNEWADI(BORGAON)', 'GATADWADI', 'GAUNDWADI', 'GOTKHINDI',
       'HUBALWADI', 'ITAKARE', 'JAKRAIWADI', 'JAMBHALWADI', 'JUNE KHED',
       'KAKACHIWADI', 'KALAMWADI', 'KAMERI', 'KANEGAON', 'KAPUSKHED',
       'KARANDWADI', 'KARANJVADE', 'KARVE', 'KASEGAON', 'KEDARWADI',
       'KHARATWADI', 'KILLE MACHHINDRA GAD', 'KOLE', 'KOREGAON',
       'KUNDALWADI', 'KURLAP', 'LADEGAON', 'LAVANMACHI', 'MAHADEVWADI',
       'MALEWADI', 'MANIKWADI', 'MARALNATHPUR', 'MARDAWADI',
       'MASUCHIWADI', 'MIRAJWADI', 'NAGAON', 'NARSIHAPUR', 'NAVE KHED',
       'NAYKALWADI', 'NERLE', 'OZARDE', 'PADAVALWADI', 'PETH',
       'PHALKEWADI & CHANDACHIWADI', 'PHARNEWADI(SHIGAON)', 'POKHARNI',
       'RETHARE  HARNAKSHA', 'RETHARE DHARAN', 'ROZAWADI', 'SAKHARALE',
       'SATAPEWADI', 'SHEKHARWADI', 'SHENE', 'SHIGAON', 'SHIRATE',
       'SHIRGAON', 'SHIVPURI', 'SURUL', 'TAKARI', 'TAMBAVE', 'TANDULWADI',
       'THANAPUDE', 'TUJARPUR', 'URAN ISLAMPUR', 'VASHI',
       'VITTHALWADI (N.V.)', 'WAGHWADI', 'WALWA', 'WATEGAON',
       'YEDE MACHCHHINDRA', 'YEDE NIPANI', 'YELUR', 'YEWALEWADI'],
      dtype=object)

In [176]:
np.sort(census[census["SDTName"] == "Walwa"]["Name"].values)

array(['Ahirwadi', 'Aitavade Bk', 'Aitavade Kh', 'Bagani', 'Bahadurwadi',
       'Bahe', 'Banewadi', 'Bavchi', 'Beradmachi', 'Bhadkimbe',
       'Bharatwadi', 'Bhatwadi', 'Bhavaninagar', 'Bichud', 'Borgaon',
       'Chikurde', 'Devarde', 'Dhagewadi', 'Dhavali', 'Dhotrewadi',
       'Dongarwadi', 'Dudhari', 'Farnewadi(borgaon)', 'Gatadwadi',
       'Gaundwadi', 'Ghabakwadi', 'Gotkhindi', 'Hubalwadi', 'Itakare',
       'Jakraiwadi', 'Jambhulwadi', 'June Khed', 'Kakachiwadi',
       'Kalamwadi', 'Kameri', 'Kanegaon', 'Kapuskhed', 'Karandwadi',
       'Karanjvade', 'Karve', 'Kasegaon', 'Kedarwadi', 'Kharatwadi',
       'Kille Machhindra Gad', 'Kole', 'Konoli ', 'Koregaon',
       'Krishnanagar ', 'Kundalwadi', 'Kurlap', 'Ladegaon', 'Lavanmachi',
       'Mahadevwadi', 'Malewadi', 'Manikwadi', 'Maralnathpur',
       'Mardawadi', 'Masuchiwadi', 'Mirajwadi', 'Nagaon', 'Narsihapur',
       'Nave Khed', 'Naykalwadi', 'Nerle', 'Ozarde', 'Padavalwadi',
       'Peth', 'Phalkewadi & Chandachiwadi', 'Pharnewadi(shigaon)',
       'Pokharni', 'Rethare  Harnaksha', 'Rethare Dharan', 'Rozawadi',
       'Sakharale', 'Satapewadi', 'Shekharwadi', 'Shene', 'Shigaon',
       'Shirate', 'Shirgaon', 'Shivpuri', 'Surul', 'Takari', 'Tambave',
       'Tandulwadi', 'Thanapude', 'Tujarpur', 'Vashi', 'Vitthalwadi',
       'Waghwadi', 'Walwa', 'Walwa', 'Wategaon', 'Yede Machchhindra',
       'Yede Nipani', 'Yelur', 'Yewalewadi'], dtype=object)